.bop {
  background-color: lightgray;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 50px;
  width: 1080px;
  height: 75px;
  margin-left: 90px;
  margin-top: 200px;
}

.bcc {
  background-color: lightgray;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 50px;
  width: 1080px;
  height: 75px;
  margin-top: 15px;
  margin-left: 90px;
}

.bcyo {
  background-color: lightgray;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 50px;
  width: 1080px;
  height: 75px;
  margin-top: 15px;
  margin-left: 90px;
}

.bhome {
  border: none;
  background-color: transparent;
  font-size: 19px;
}

.bau {
  border: none;
  background-color: transparent;
  font-size: 19px;
}
.bcon{
  border: none;
  background-color: transparent;
  font-size: 19px;
}
.body{
  background-repeat: no-repeat;
  background-size: 300px 100px;
}
