.show-img {
  width: 100%;
  height: 100%;
  background-image: url('background.jpeg') !important;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  background-size: 100% 100%;
}
.btn-style{
  width: 500px;
  height: 45px;
  border-radius: 7px;
  background: #03a9f5;
}
